.home-page {
    position: relative;
    margin-top: -95px;
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../images/bg.png) center center no-repeat;
    background-size: cover;
}

.home-page .img-fluid{
    padding-top: 40px;
    height:auto;
    max-width:550px;

}

.home-page::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.home-page .container {
    position: relative;
    z-index: 1;
}
